#catcher {
    position: absolute;
    background: blue;
    width: 50px;
    height: 60px;
    bottom: 15px;
    left: 50%;
}

.item {
    position: absolute;
    background: red;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}